@import '@ui/styles/utilities';

.header {
  padding: $spacing-6 0;
  color: white;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
  }

  &__title {
    @include font-bold-50;
  }

  &__tabs {
    @include font-regular-32;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      &:first-of-type {
        margin-right: $spacing-6;
      }

      &_active {
        text-decoration: underline;
        text-decoration-thickness: $spacing-1;
        text-underline-offset: $spacing-1;
      }
    }
  }
}
