@font-face {
  font-family: 'Gotham-Pro-Light';
  src: url('GothamProLight/GothamProLight.eot') format('embedded-opentype'),
    url('GothamProLight/GothamProLight.woff') format('woff'),
    url('GothamProLight/GothamProLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham-Pro-Light-It';
  src: url('GothamProLightItalic/GothamProLightItalic.eot')
      format('embedded-opentype'),
    url('GothamProLightItalic/GothamProLightItalic.woff') format('woff'),
    url('GothamProLightItalic/GothamProLightItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham-Pro-Regular';
  src: url('GothamProRegular/GothamProRegular.eot') format('embedded-opentype'),
    url('GothamProRegular/GothamProRegular.woff') format('woff'),
    url('GothamProRegular/GothamProRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham-Pro-Medium';
  src: url('GothamProMedium/GothamProMedium.eot') format('embedded-opentype'),
    url('GothamProMedium/GothamProMedium.woff') format('woff'),
    url('GothamProMedium/GothamProMedium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham-Pro-Medium-It';
  src: url('GothamProMediumItalic/GothamProMediumItalic.eot')
      format('embedded-opentype'),
    url('GothamProMediumItalic/GothamProMediumItalic.woff') format('woff'),
    url('GothamProMediumItalic/GothamProMediumItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham-Pro-Bold';
  src: url('GothamProBold/GothamProBold.eot') format('embedded-opentype'),
    url('GothamProBold/GothamProBold.woff') format('woff'),
    url('GothamProBold/GothamProBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham-Pro-Bold-It';
  src: url('GothamProBoldItalic/GothamProBoldItalic.eot')
      format('embedded-opentype'),
    url('GothamProBoldItalic/GothamProBoldItalic.woff') format('woff'),
    url('GothamProBoldItalic/GothamProBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham-Pro-Black';
  src: url('GothamProBlack/GothamProBlack.eot') format('embedded-opentype'),
    url('GothamProBlack/GothamProBlack.woff') format('woff'),
    url('GothamProBlack/GothamProBlack.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Gotham-Pro-Black-It';
  src: url('GothamProBlackItalic/GothamProBlackItalic.eot')
      format('embedded-opentype'),
    url('GothamProBlackItalic/GothamProBlackItalic.woff') format('woff'),
    url('GothamProBlackItalic/GothamProBlackItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
