.mm-icon-svg {
  &.s {
    width: 16px;
    height: 16px;
  }
  &.m {
    width: 24px;
    height: 24px;
  }
  &.xm {
    width: 26px;
    height: 26px;
  }
  &.l {
    width: 32px;
    height: 32px;
  }
  &.xl {
    width: 64px;
    height: 64px;
  }
  &.xxl {
    width: 46px;
    height: 56px;
  }
  &.xxxl {
    width: 110px;
    height: 48px;
  }
}
