<ng-container *puLet="vm$ | async as vm">
  <div class="groups">
    <div class="container">
      <app-tabs
          (clickOpenAddPopup)="openAddPopup()"
          (clickCloseAddPopup)="closeAddPopup()"
          [addPopupOpen]="addPopupOpen"
          [addButtonText]="addButtonText"
      >
        <app-tab class="active" *ngFor="let group of vm.groups" title="{{ group.title }}">
          <ng-container *ngFor="let role of vm.roles">
            <label>
              <input type="checkbox" [checked]="role.checked" [value]="role.title"> {{ role.title }}
            </label>
          </ng-container>
        </app-tab>
      </app-tabs>
    </div>
  </div>
</ng-container>

