@import 'assets/fonts/fonts';
@import 'assets/styles/reset';
@import '@ui/styles/utilities';

html,
body {
  height: 100%;
}

body {
  background-color: #050609;
}

//.app {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  flex-grow: 1;
//  position: relative;
//}

.container {
  width: 100%;
  max-width: 1236px;
  padding: 0 16px;
  margin: 0 auto;
}
