// -------------------------------------
// Colors
// -------------------------------------
//
// USE ONLY WITH THEME VARIABLES, DONT USE AS IN USAGE EXAMPLE
//
// -------------------------------------
// usage:
// @use "@ui/styles/colors"
//
// color: colors.$red
//
// -------------------------------------

$red-1: #f80032;
$red-2: #63222e;
$orange-1: #f86800;
$white-1: #f9f8fe;
$gray-1: #8e8e8e;
$gray-2: #5a5a5b;
$gray-3: #c4c4c4;
$dark-1: #050609;
